/* body {
  background-color:850D91;

h1 {
  color: blueviolet;
  font-size: 1rem;
  text-decoration: underline;
}

p {
  color: blueviolet;
  font-size: 1rem;
  text-decoration: underline;
}

h2 {
  color: blueviolet;
  font-size: 1rem;
  text-decoration: underline;
} */
